
.title {
  text-align: center;
  margin: 10px;
  border-bottom: dotted 10px darkgray;
  padding: 20px;
}

.newListButton {
  display: block;
  margin: auto;
  background-color: #91c499;
  border: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
 }

.listDiv{
  color: #91c499;
  text-align: center;
  border: 3px solid darkgray;
  margin: 10px auto;
  width: 80%;
  padding: 0;
}

h1 {
  color: #4d6a52;
}

.form {
  display: block;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  max-width: 30em;
}

.singleList{
  margin: 15px;
  display: block;
  text-align: center;
  border: solid 1px darkgray;
}
.singleList button {
  background-color: #91c499;
  border: 1px solid #91c499;
  margin: 10px;
}

.goBack {
  background-color: #91c499;
  border: 1px solid #91c499;
}

.inputButton {
  background-color: #91c499 !important;
  border: 1px solid #91c499 !important;
}